<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CLASSY COLLECTIBLES-HOME</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Bootstraop cdns-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Favicons -->
  <link href="https://static.vecteezy.com/system/resources/thumbnails/011/401/535/small/online-shopping-trolley-click-and-collect-order-logo-design-template-vector.jpg" rel="icon">
  <link href="{% static "assets/img/apple-touch-icon.png"%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!--  Fonts Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Vendor CSS Files -->
  <link href="{% static "assets/vendor/aos/aos.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
  <link href="{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css"%}" rel="stylesheet">
  <link href="{% static "assets/vendor/boxicons/css/boxicons.min.css"%}" rel="stylesheet">
  <link href="{% static "assets/vendor/glightbox/css/glightbox.min.css"%}" rel="stylesheet">
  <link href="{% static "assets/vendor/remixicon/remixicon.css"%}" rel="stylesheet">
  <link href="{% static "assets/vendor/swiper/swiper-bundle.min.css"%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "assets/css/style.css"%}" rel="stylesheet">

  <style>
.carousel .carousel-item {
  height:85vh;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height:85vh;
}

  </style>

  <!-- =======================================================
  * Template Name: Vesperr
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="sticky-top  d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo d-flex">
        <h1><a href="index.html">CLASSY COLLECTIBLES</a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto " href="/purchase/">Purchases</a></li>
          <li><a class="nav-link scrollto" href="/checkout">Checkout</a></li>
          <li><a class="nav-link scrollto " href="/orders/{{user.email}}">Orders</a></li>
          <li><a class="nav-link scrollto " href="#aboutus">About Us</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          {% if request.user.is_authenticated %}
          <li><a class="getstarted scrollto" href="#about">Welcome {{user.username}}</a></li>
          <li><a class="nav-link scrollto" href="/auth/login/">Logout</a></li>
          {% else %}
          <li><a class="getstarted scrollto" href="/auth/signin/">Signup</a></li>
          <li><a class="getstarted scrollto" href="/auth/login/">Login</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div id="carouselExampleIndicators" class="carousel slide h-70" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators h-70" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators h-70" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators h-70" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner h-30">
      <div class="carousel-item active h-30">
        <img class="d-block w-100 h-30" src="https://i.imgur.com/CnsUcoT.jpeg" alt="First slide">
      </div>
      <div class="carousel-item h-30">
        <img class="d-block w-100  h-30" src="https://i.imgur.com/psFVHXR.jpeg" alt="Second slide">
      </div>
      <div class="carousel-item h-30">
        <img class="d-block w-100  h-30" src="https://i.imgur.com/6IQ56E6.jpeg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="mt-2" id="aboutus">
    <div class="section-title" data-aos="fade-up">
      <h2>About US....??</h2>
    </div>
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Grow your business with Classy Collectables</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Classy Collectibles is a premier e-commerce platform dedicated to the sale of unique and high-quality collectibles.</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static "assets/img/cooking/c1.jpg"%}" id="himg" class="img-fluid animated " alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
</div>

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <div class="section-title" data-aos="fade-up">
      <h2>Collections</h2>
    </div>
    <section id="clients" class="clients clients my-1">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="https://i.pinimg.com/originals/dc/53/50/dc5350243970437d9fff2c8db3a9975b.jpg" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="https://img.freepik.com/premium-vector/tshirt-logo-design-concept-clothing-fashion-bussiness-logo-design-template-shirt-logo-template_9850-9338.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/003/189/903/small/watch-classic-logo-icon-design-vector.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="https://t3.ftcdn.net/jpg/04/88/30/94/360_F_488309423_4Xv024a6dRRzTBu87Ah6NxoXBB7KsuRZ.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="https://i.imgur.com/bbOW7lA.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="https://i.imgur.com/GPd5akv.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->
    <div class="mt-2">
      <div class="section-title mt-2" data-aos="fade-up">
        <h2>Free & Fast Delivery</h2>
      </div>
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">Free & Fast Delivery</h1>
            <h2 data-aos="fade-up" data-aos-delay="400">With a focus on sustainability, the site uses eco-friendly web design practices to minimize its digital carbon footprint.</h2>
            <div data-aos="fade-up" data-aos-delay="800">
              <a href="#about" class="btn-get-started scrollto">Buy</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
            <img src="https://i.imgur.com/rTaQpdF.jpeg}" id="himg" class="img-fluid animated " alt="">
          </div>
        </div>
      </div>
  
    </section><!-- End Hero -->
  </div>


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>Classy Collectibles </h3>
              <p>The website’s design reflects its commitment to providing a secure, enjoyable, and environmentally-conscious online shopping experience for all collectible enthusiasts.</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>A108 Adam Street<br>New York, NY 535022</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>info@example.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

<!-- ======= Footer ======= -->

<footer
class="text-center text-lg-start text-dark"
style="background-color: #fff";
font-size:15px;
font-weight:400;
>
<!-- Section: Social media -->
<section
   class="d-flex justify-content-between p-2 text-white"
   style="background-color: #3498db;"
   
   >
<!-- Left -->
<div class="me-5">
<span>Get connected with us on social networks:</span>
</div>
<!-- Left -->

<!-- Right -->
<div>
<a href="" class="text-white me-4">
<i class="fab fa-facebook-f"></i>
</a>
<a href="" class="text-white me-4">
<i class="fab fa-twitter"></i>
</a>
<a href="" class="text-white me-4">
<i class="fab fa-google"></i>
</a>
<a href="" class="text-white me-4">
<i class="fab fa-instagram"></i>
</a>
<a href="" class="text-white me-4">
<i class="fab fa-linkedin"></i>
</a>
<a href="" class="text-white me-4">
<i class="fab fa-github"></i>
</a>
</div>
<!-- Right -->
</section>
<!-- Section: Social media -->

<!-- Section: Links  -->
<section class="m-0" style="background-color: #fff";
font-size:15px;
font-weight:400;>

<div class="container text-center text-md-start mt-0">
<!-- Grid row -->
<div class="row mt-1">
<!-- Grid column -->
<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-1">
  <!-- Content -->
  <h6 class="text-uppercase fw-bold">Classy Collectibles</h6>
  <hr
      class="mb-1 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p>
    Classy Collectibles is a premier e-commerce platform dedicated to the sale of unique and high-quality collectibles.
    The website boasts a sleek, user-friendly design that showcases the wide range of collectibles in an elegant and organized manner.
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">Products</h6>
  <hr
      class="mb-0 mt-0 d-inline-block mx-auto"
      style="width: 50px; background-color: #7c4dff; height: 1px"
      />
  <p>
    <a href="#!" class="text-dark">Premium Watches</a>
  </p>
  <p>
    <a href="#!" class="text-dark">Shirts</a>
  </p>
  <p>
    <a href="#!" class="text-dark">T-Shirts</a>
  </p>
  <p>
    <a href="#!" class="text-dark">Suits</a>
  </p>
  <p>
    <a href="#!" class="text-dark">Formals</a>
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-0">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">Useful links</h6>
  <hr
      class="mb-0 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p>
    <a  href="#!" class="text-dark">Home</a>
  </p>
  <p>
    <a href="#!" class="text-dark">Products</a>
  </p>
  <p>
    <a href="#!" class="text-dark">Services</a>
  </p>
  <p>
    <a  href="#!" class="text-dark">Checkout</a>
  </p>
  <p>
    <a href="#!" class="text-dark">Signin</a>
  </p>
  <p>
    <a href="#!" class="text-dark">Login</a>
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-1">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">Contact</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p><i class="fas fa-home mr-1"></i> India, 5060XX, XX</p>
  <p><i class="fas fa-envelope mr-1"></i> classycollectiblese@yahooo.com</p>
  <p><i class="fas fa-phone mr-1"></i> +91-93469058XX</p>
  <p><i class="fas fa-print mr-1"></i> +91-88797925XX</p>
</div>
<!-- Grid column -->
</div>
<!-- Grid row -->
</div>
</section>
<!-- Section: Links  -->
</footer>
<!-- Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "assets/vendor/purecounter/purecounter_vanilla.js"%}"></script>
  <script src="{% static "assets/vendor/aos/aos.js"%}"></script>
  <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>
  <script src="{% static "assets/vendor/glightbox/js/glightbox.min.js"%}"></script>
  <script src="{% static "assets/vendor/isotope-layout/isotope.pkgd.min.js"%}"></script>
  <script src="{% static "assets/vendor/swiper/swiper-bundle.min.js"%}"></script>
  <script src="{% static "assets/vendor/php-email-form/validate.js"%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static "assets/js/main.js"%}"></script>

  <!-- Bootstraop cds-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>